body{
    background-color: antiquewhite;
    color:#333;
}
h1{
    font-size: 32px;
    text-align: center;
}
img{
    width: 120px;
    height: 120px;
    margin: 12px auto;
    display: block;
    border-radius: 50%;
}
.changeBg{
    display: block;
    height: 40px;
    width: 320px;
    border-style:none;
    border-radius: 4px;
    background-color: #f40;
    margin: 12px auto;
    color: #fff;
}